<% provide(:title, "問題作成ページ") %>
<h2 class="trainings__title"><%= @training.title %></h2>
<h2 class="trainings__title"><%= @chapter.chapter_title %>の問題を作成</h2>
<%= form_with model: [@training, @chapter, @question], local:true, class: 'questions__form' do |f| %>
  <%= f.hidden_field :training_id, :value => @training.id %>
  <%= f.hidden_field :chapter_id, :value => @chapter.id %>
  <div class="questions__form-item">
    <%= f.label :number, "設問番号" %>
    <%= f.select :number, [*1..20], { include_blank: '--'} %>
  </div>
  <div class="questions__form-item">
    <%= f.label :content, "設問内容" %>
    <%= f.rich_text_area :content %>
  </div>
  <%= f.fields_for :choices do |c| %>
    <div class="questions__form-item">
      <%= c.label :content, "選択肢" %>
      <%= c.text_field :content,required: true %>
      <label>正解ならチェック<%= radio_button_tag "question[choices_attributes][is_answer]", c.index, c.object.is_answer, required: true %></label>
    </div>
  <% end %>

  <p><%= f.submit %></p>
<% end %>