<% provide(:title, "回答詳細") %>
<h2><%= current_user.name %>さんの回答結果</h2>
<h2 class="trainings__title">トレーニング名 ▶︎ <%= @training.title %></h2>
<h2 class="trainings__title">章タイトル ▶︎ <%= @chapter.chapter_title %></h2>
<div>
  <% @questions.each do |q| %>
    <div class="question__wrapper">
      <h3 class="question__title">問題<%= q.number %> ▼</h3>
      <div class="question__content">
        <%= markdown(q.content) %>
        <ol class="question__selections">
          <% q.choices.each do |c| %>
            <li><%= c.content %><%= "◀︎正解です" if c.is_answer %></li>
          <% end %>
        </ol>
      </div>
      <div class="answer__result">
        <div class="result-left">
          <p>答え ▶︎ <%= q.choices.corrected[0].content %></p>
        </div>
        <div class="result-right">
          <% @user_choices.each do |uc| %>
            <% if uc.question_id == q.id %>
              <p>あなたが選んだ答え▶︎ <%= q.choices.find{ |a| a[:id] == uc.choice_id }.content %></p>
              <% if uc.choice_id == q.choices.corrected[0].id %>
                <p class="-true"> ○ あなたは正解しました</p>
              <% else %>
                <p class="-false"> X あなたは不正解です</p>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>