<% provide(:title, "チャプターの作成") %>
<h2 class="trainings__title">
  <%= @training.title %>
  のチャプターを編集
</h2>
<%= form_with model: @chapter, url: training_chapter_path, method: :patch, local: true, class: 'trainings__form' do |f| %>
  <%= f.hidden_field :training_id, :value => @training.id %>
  <div class="trainings__form-item">
    <%= f.label :chapter_title do %>
      タイトル<span class="-required">*</span>
    <% end %>
    <%= f.text_field :chapter_title %>
  </div>
  <div class="trainings__form-item">
    <%= f.label :url, "動画URL" %>
    <%= f.url_field :url %>
  </div>
  <div class="trainings__form-item">
    <%= f.label :chapter_num, "章番号" %>
    <%= f.select :chapter_num, [*1..20], { include_blank: '--'} %>
  </div>
  <div class="trainings__form-item">
    <%= f.label :content, "トレーニング内容" %>
    <%= f.rich_text_area :content %>
  </div>
    <%= f.submit %>
<% end %>