<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).present? ? "#{yield(:title)} - クイズアプリ" : "クイズアプリ" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="">
      <div class="header__left">
        <%= link_to "前のページ戻る", :back %>
        <%= link_to "トレーニング一覧", root_path %>
      </div>
      <div class="header__right">
        <% if user_signed_in? %> 
          <%= link_to "マイページ", mypage_trainings_path %>
          <%= link_to "トレーニングを作成する", new_training_path %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path %>
          <%= link_to "新規登録", new_user_registration_path %>
        <% end %>
      </div>
    </header>

      <!-- メッセージの表示 -->
      <% if notice %>
        <%= simple_format(notice) %>
      <% end %>

      <% if alert %>
        <%= simple_format(alert) %>
      <% end %>

      <%= yield %>

  </body>
</html>
